<template name="cueStats">
    <div id="cueStatsContainer">

        <button id="resetStatsButton" class="btn btn-primary">Reset Stats</button>

        <br><br>

        <table id="cueTable">
            <thead>
                <tr>
                    <td>Job Name</td>
                    <td style="text-align:right;">Times Runs Today</td>
                    <td style="text-align:right;">Today</td>
                    <td style="text-align:right;">Average</td>
                    <td style="text-align:right;">Last Run</td>
                    <td>Last Run Date</td>
                </tr>
            </thead>
            <tbody>
                {{#each stats}}
                    {{> cueStat}}
                {{/each}}
            </tbody>
        </table>

    </div>
</template>


<template name="cueStat">
    <tr>
        <td>{{jobName}}</td>
        <td style="text-align:right;">{{round timesRunToday}}</td>
        <td style="text-align:right;">{{humanize msToday}}</td>
        <td style="text-align:right;">{{humanize average}}</td>
        <td style="text-align:right;">{{humanize lastRunMs}}</td>
        <td>{{lastRunCalendar}}</td>
    </tr>
</template>
