<template name="cueTasks">
    <div id="cueTaskListContainer">

        <button id="dropTasksButton" class="btn btn-primary">Drop All Tasks</button>
        <button id="dropInProgressTasksButton" class="btn btn-primary">Drop All Tasks In Progress</button>
        <button id="restartInProgressTasksButton" class="btn btn-primary">Restart All Tasks In Progress</button>
        <button id="pauseButton" class="btn btn-primary">Pause</button>
        <button id="unpauseButton" class="btn btn-primary">Unpause</button>


        &nbsp;&nbsp;

        {{#if isStopped}}
            Cue is stopped.
        {{else}}
            Cue is running.
        {{/if}}

        <br><br>

        <table id="cueTable">
            <thead>
                <tr>
                    <td></td>
                    <td>Job Name</td>
                    <td>Doing Task</td>
                    <td>Created</td>
                    <td>Num Tries</td>
                    <td>Data</td>
                    <td>_id</td>
                    <td>Error</td>
                </tr>
            </thead>
            <tbody>
                {{#each tasks}}
                    {{> cueTask}}
                {{/each}}
            </tbody>
        </table>
    </div>
</template>


<template name="cueTask">
    <tr>
        <td>
            <button class="btn btn-primary dropTaskButton" data-id="{{_id}}">X</button>
            <button class="btn btn-primary retryTaskButton" data-id="{{_id}}">retry</button>
        </td>
        <td>
            {{jobName}}
        </td>
        <td>
            {{doing}}
        </td>
        <td>
            {{createdAt}}
        </td>
        <td>
            {{numTries}}
        </td>
        <td>
            {{taskData}}
        </td>
        <td>
            {{_id}}
        </td>
        <td>
            {{error}}
        </td>
    </tr>
</template>
